
* {
  color: map-get($colors, text);
}

body {
  margin: 0;
  font-family: Helvetica, sans-serif;
  background-color: #f4f4f4;
}

a {
  color: #000;
  text-decoration: none;
}

p,
a {
  font-family: sans-serif;
}

#content {
  min-height: 100vh;
}

.logo {
  a {
    font-weight: 300;
  }
}

.main-header {
  background: black;
  box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
  position: fixed;
  width: 100%;
  z-index: 3;

  a {
    color: white;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: black;
  }

  li a {
    display: block;
    padding: 20px 20px;
  }

  .logo {
    display: block;
    float: left;
    font-size: 2em;
    padding: 10px 20px;
  }

  /* menu */

  .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
  }

  /* menu icon */

  .menu-icon {
    cursor: pointer;
    display: inline-block;
    float: right;
    padding: 28px 20px;
    position: relative;
    user-select: none;
  }

  .menu-icon .navicon {
    background: white;
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 18px;

    &:before,
    &:after {
      content: '';
      display: block;
      height: 100%;
      position: absolute;
      transition: all .2s ease-out;
      width: 100%;
      background: white;
    }

    &:before {
      top: 5px;
    }

    &:after {
      top: -5px;
    }
  }

  .menu-btn {
    display: none;

    &:checked ~ .menu {
      max-height: 240px;
    }

    &:checked ~ .menu-icon .navicon {
      background: transparent;
    }

    &:checked ~ .menu-icon .navicon:before {
      transform: rotate(-45deg);
    }

    &:checked ~ .menu-icon .navicon:after {
      transform: rotate(45deg);
    }

    &:checked ~ .menu-icon:not(.steps) .navicon:before,
    &:checked ~ .menu-icon:not(.steps) .navicon:after {
      top: 0;
    }
  }
}

.main-footer {
  * {
    color: white;
  }

  .container {
    padding: 20px 20px;
    color: white;
  }
}

footer {
  background: black;
}

.footer-menu {
  margin-bottom: 50px;
  list-style-type: none;
  text-align: right;

  li {
    display: inline-block;

    & ~ li {
      margin-left: 20px;
    }
  }
}

.footer-links {
  a {
    color: white;
    border-bottom: 1px dashed white;
    margin: 0 2px;
    white-space: nowrap;
  }
}

@include media($laptop) {
  .main-header {
    padding: 10px 0;

    li {
      float: left;

      a {
        padding: 20px 30px;
      }
    }

    .menu {
      clear: none;
      float: right;
      max-height: none;
    }

    .menu-icon {
      display: none;
    }
  }

  .main-header-content {
    padding: 0 50px;
  }
}
