<header class="main-header">
  <div class="main-header-content">
    <div class="col-lg-2 col-sm-3 col-xs-6 col-5">
      <div class="logo">
        <a href="{{ site.BaseURL }}" tabindex="-1">
          {{ site.Params.title }}
        </a>
      </div>
    </div>

    <input class="menu-btn" type="checkbox" id="menu-btn" />
    <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
    <ul class="menu">
      {{ $current := . }}
      {{ $menu := site.Menus.main }}

      {{ range $menu }}
      {{ $active := or ($current.IsMenuCurrent "nav" .) ($current.HasMenuCurrent "nav" .) }}
      {{ $active = or $active (eq .Name $current.Title) }}
      {{ if .HasChildren }}
      <li class="menu-item nav-item dropdown">
        <a href="#" class="nav-link dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ .Name }}</a>
        <div class="dropdown-menu" >
          {{ range .Children }}
          <a class="dropdown-item" href="{{ .URL | absURL }}">{{ .Name }}</a>
          {{ end }}
        </div>
      </li>
      {{ else }}
      <li class="menu-item nav-item {{ if $active }}active{{ end }}">
        {{ if hasPrefix .URL "#" }}
        <a class="nav-link" href="{{ .URL }}">{{ .Name }}</a>
        {{ else }}
        <a class="nav-link" href="{{ .URL | absURL }}">{{ .Name }}</a>
        {{ end }}
      </li>
      {{ end }}
      {{ end }}
    </ul>
  </div>
</header>
